@import "mixins";

// Variáveis /////////////

$cor-primaria: cadetblue;
$fonte-primaria: monospace;
$gutter: 20px;
$container: 960px;

//////////////////////////

section {
  max-width: $container;
  margin: 0 auto;
  @include border-box();
}

.modal {
  @include box-shadow(
    10px 10px 0 0 rgba(0, 0, 0, 0.5),
    15px 15px 0 0 rgba(0, 0, 0, 0.5),
    20px 20px 0 0 rgba(0, 0, 0, 0.5)
  );
  h1 {
    @include title-large();
    @include separator(pink, 500px);
    @include tablet {
      color: pink;
      font-size: 3em;
    }
    @include mobile {
      color: #84e;
      font-size: 2em;
    }
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
    max-width: 400px;
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $fonte-primaria;
    &:hover {
      cursor: pointer;
      background-color: rgb(54, 109, 110);
    }
  }
}
